@import "tailwindcss";

:root {
  --color-background: #1F1F21;
  --color-accent: #556483;
  --color-text: #F0F1E3;
  --color-text-disabled: hsl(66, 3%, 72%);
  --color-accent-2: #2E3038;
  --color-background-light: #D9D9D9;
  --box-shadow-button: 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-field: 4px 4px var(--color-accent-2);
  --box-shadow-label: 2px 2px #23242A;
  --box-shadow-view: 8px 8px rgba(0, 0, 0, 0.25);
  --inner-shadow-button: 6px 6px rgba(255, 255, 255, 0.12);
  --inset-shadow-box: 8px 8px #191B1F;
  --overlay-color: #1f1f21de;
}

:root {
  --color-background: #1F1F21;
  --color-accent: #556483;
  --color-text: #F0F1E3;
  --color-accent-2: #2E3038;
  --color-background-light: #D9D9D9;
  --box-shadow-button: 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-field: 4px 4px var(--color-accent-2);
  --box-shadow-label: 2px 2px #23242A;
  --box-shadow-view: 8px 8px rgba(0, 0, 0, 0.25);
  --inner-shadow-button: 6px 6px rgba(255, 255, 255, 0.12);
  --inset-shadow-box: 8px 8px #191B1F;
  --overlay-color: #1f1f21de;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 95vh;
  width: 100%;
}

@media (min-width: 600px) {
  body,
  html {
    height: 100vh;
    width: 100%;
  }
}
