@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-background: #1F1F21; 
  --color-accent: #556483;
  --color-text: #F0F1E3;
  --color-accent-2: #2E3038;
  --color-background-light: #D9D9D9;
}

html,body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  *{
    box-sizing: border-box;
  }
}
